body{
    background-color: #68cdd5;
}
div.container{
    background-color: #68cdd5;
    width: 100%;
}
div.logo{
    margin: 0px auto;
    text-align: center;
    height: 100px;
}
div.main{
    width: 80%;
    margin: 0px auto;
    
}
div.main p{
    color: white;
    height: 150px;
    line-height: 24px;
}
div.main div{
    text-align: center;
}
div.main div p{
    line-height: 0px;
}
div.main div.btn_1{
    float: left;
}
div.main div.btn_2{
    float: right;
}
